html,
body {
  overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    font-family: Familjen Grotesk;
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #111F3C;
    color: #fff;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    border-radius: 50px 50px 0px 0px;
    margin-top: 170px;
}

.footer-content {
    font-family: Familjen Grotesk;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -100px;
    margin-right: 0px;
}

.footer-logo {
    width: 191px;
    height: 55px;
    margin-top: 180px;
    margin-bottom: -10px;
    margin-left: 100px;
}

footer p {
    width: 400px;
    font-size: 35px;
    font-weight: 400;
    line-height: 49px;
    margin-left: 110px;
    text-align: left;
}

.footer-text {
    margin-bottom: 20px;
}

.try-it-btn {
    font-family: Familjen Grotesk;
    padding: 10px 50px 10px 50px;
    gap: 0px;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #111F3C;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 18px;
    margin-left: 110px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #001b4b;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column h3 {
    font-family: Familjen Grotesk;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 50px;
}

@media (max-width: 768px) {
    .column h3 {
        border-bottom: 0.1px solid #919191;
    }
}

.column ul {
    font-family: Familjen Grotesk;
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 28.8px;
}

.column a {
    color: #fff;
    text-decoration: none;
    position: relative;

    &::before {
        content: '';
        width: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #EC7100;
        position: absolute;
        bottom: -.25rem;
        left: 50%;
        transition: width 0.4s, left 0.4s;
    }

    &:hover {
        color: #EC7100;

        &::before {
            width: 100%;
            left: 0;
        }
    }
}

.hiring-btn {
    font-family: Familjen Grotesk;
    background-color: #fff;
    color: #111F3C;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: -10px;
    cursor: pointer;
    position: relative;
    padding: 2px 4px;
    white-space: nowrap;
}

canvas {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -40px;
}

.refer-btn {
    font-family: Familjen Grotesk;
    background-color: #fff;
    color: #111F3C;
    margin-left: -0px;
    border: none;
    border-radius: 50px;
    width: 137px;
    height: 35px;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.refer-icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .refer-icon {
        margin-left: 5px;
    }
}

.side-solution {
    margin-top: 85px;
    margin-left: -70px;
}

@media (max-width: 768px) {
    .solutions-list {
        margin-left: 100px;
    }
    .side-solution {
        margin-top: -55px;
        margin-left: 0px;
    }
}

.solution-column a {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #EC7100;
    }
}

.app-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 300px;
    left: 1000px;
}

.app-links a {
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .app-links {
        position: relative;
        top: 0;
        left: 75%;
        transform: translateX(-50%);
        justify-content: space-evenly;
    }

    .app-links a {
        margin-right: 0px;
    }
}

.legal-links {
    font-family: Familjen Grotesk;
    text-align: center;
    margin-top: 550px;
    margin-left: 480px;
    bottom: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
}
  
.legal-links a {
    margin-right: 70px;
    color: #fff;
    text-decoration: none;
    position: relative;

    &:hover {
        color: #EC7100;
        transition: color 0.3s ease;
    }
}

.line {
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 85%;
    bottom: 90px;
    margin-left: 110px;
}

.line-2 {
    position: absolute;
    width: 57%;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .line-2 {
        display: none;
    }
}
.copyright {
    font-family: Familjen Grotesk;
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin-top: 400px;
    bottom: 30px;
}

.qoute {
    font-family: Familjen Grotesk;
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin-top: 400px;
    bottom: 30px;
    left: 500px;
}

.heart {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .line {
        position: absolute;
        align-self: center;
        justify-self: center;
        width: 100%;
        bottom: 90px;
        margin-left: 0px;
    }
    
    .copyright {
        font-family: "Familjen Grotesk";
        color: #fff;
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }      
    
    .qoute {
        font-family: Familjen Grotesk;
        color: #fff;
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        margin-top: 0px;
        bottom: 40px;
        left: 0px;
        margin-left: -20px;
    }
    
    .heart {
        margin-top: 100px;
    }       
}

@media (max-width: 768px) {
    .legal-links {
        margin-left: 40px;
        text-align: center;
        margin-top: 1000px;
        
        flex-direction: column;
        position: absolute;
    }
      
    .legal-links a {
        margin-right: 40px;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    header {
        position: fixed;
        background-color: #111F3C;
        flex-direction: column;
        padding: 15px;
        width: 100%;
        height: 60px;
        box-sizing: border-box!important;
        border-radius: 0px 0px 20px 20px;
        z-index: 9999;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }      

    .mobile-menu {
        display: flex;
        align-self: flex-end;
        margin-top: 5px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: 1400px;
        border-radius: 20px 20px 0px 0px;
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: 350px;
        top: 0px;
    }

    .footer-content {
        display: none;
    }

    .footer-content p {
        font-size: 20px;
        justify-self: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .footer-content button {
        justify-self: center;
        align-items: center;
        margin-left: 90px;
        margin-right: 80px;
    }

    .footer-logo {
        justify-self: center;
        margin-top: -1550px;
        margin-left: 100px;
    }

    footer p, footer button {
        margin-left: 0;
        text-align: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        margin-left: -200px;
        margin-top: 0px;
    }

    .column {
        align-items: center;
        margin-bottom: 20px;
    }

    .hiring-btn, .refer-btn {
        margin-bottom: 10px;
    }

    .hiring-btn {
        margin-left: 30px;
    }

    .hiring-icon {
        height: auto;
        margin-left: 5px;
    }

    .solution-column {
        color: #fff;
        text-decoration: none;
        margin-top: -100px;
        margin-right: 20px;
    
        &:hover {
            color: #EC7100;
        }
    }

    .solution-column ul {
        margin-top: -100px;
        margin-left: 65px;
    }
    .community-column h3 {
        color: white;
        margin-left: 150px;
    }

    .community-column button {
        margin-left: 150px;
        width: 140px;
        padding: 8px 16px;
    }

    .community-column li {
        margin-left: 160px;
        margin-right: -100px;
    }
    .community-column a {
        color: #fff;
        text-decoration: none;
        margin-top: -100px;
        margin-right: 20px;
    
        &:hover {
            color: #EC7100;
        }
    }
}

.social-media-container {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 470px;
    left: 1100px;
}

.social-media-btn {
    border: none;
    border-radius: 50%;
    padding: 15px 15px 15px 15px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .social-media-container {
        max-width: 100px;
        height: auto;
        flex-direction: row;
        position: absolute;
        margin-top: 1200px;
        left: 35%;
        transform: translateX(-50%);
        justify-content: space-around;
    }
    
    .social-media-btn {
        border: none;
        border-radius: 50%;
        padding: 20px;
        width: 45px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.4s;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
    }

    .social-media-btn:hover {
        width: 30px;
        height: 5px;
        gap: 0px;
        transition-duration: 0.4s;
        border-radius: 30px;
        padding: 20px 35px 20px 35px;
    }
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook {
    background-color: #1877f2;
}

.youtube {
    background-color: #ff0000;
}

.linkedin {
    background-color: #0077b5;
  }

.social-media-btn:hover {
    width: 30px;
    height: 5px;
    padding: 16.5px 40px 16.5px 40px;
    gap: 0px;
    transition-duration: 0.4s;
    border-radius: 30px;
}
  
.social-media-btn:hover .social-media-text {
    opacity: 1;
    transition-duration: 0.4s;
}
  
.social-media-btn:hover .social-media-icon {
    opacity: 0;
    transition-duration: 0.3s;
}

.social-media-text {
    font-family: Familjen Grotesk;
    font-size: 16px;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 500;
    opacity: 0;
    transition-duration: 0.4s;
    left: 50%;
    transform: translateX(-50%);
}

.social-media-icon {
    width: 20px;
    height: auto;
    transition-duration: 0.3s;
}

/* From Uiverse.io by Yaya12085 */ 
.playstore-button {
    width: 150px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 1px 1px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
  }
  
@media (max-width: 768px) {
    .playstore-button {
        flex-direction: row;
        width: 150px;
        height: 50px;
        padding: 2px 2px;
    }
}
  .playstore-button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    font-family: Familjen Grotesk;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }
  